html {
    background-color: #092327;
    color: #C5D1EB
}

body {
    margin:0;
    padding: 0;
    background-color: #092327;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

.definition {
    list-style-type: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
}

a {
    text-decoration: none;
}

a:link {
    color: #92AFD7
}

a:visited {
    color: #92AFD7
}

a:hover {
    color:#C5D1EB
}

#topnav {
    margin: 0;
    overflow: hidden;
    background-color: #626868;
    position: fixed;
    top: 0;
    width: 100%;
}

#topnav a {
    float: right;
    display: block;
    color: #C5D1EB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 25px;
}

#topnav a:first-child {
    float: left;
    display: block;
    color: #C5D1EB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#topnav a:hover {
    background-color: #092327;
    color: #C5D1EB;
}

#topnav a.active {
    background-color: #092327;
    color: #C5D1EB;
}
#content {
    top: 75px;
}

#content:not(h1):not(.writeupContent) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
    font-size: 40px;
    display: inline;
    width: 75%;
    z-index: -99
}

#writeupContent {
    position: absolute;
    font-size: 20px;
    text-align: left;
    width:100%;
    top: 25px;
    overflow-y: scroll;
    z-index: -99
}

.scrollBox {
    height:170px;
    overflow:auto;
    border: 1px solid #000000;
}

.contact {
    list-style: none;
    text-align: center;
}

h1 {
    font-size: 50px;
}

.slide {
    display: none;
}

#showing {
    height: 300px;
    width: 540px;
    display: inline;
}

.carousel {
    display: inline;
}
.carousel img:not(.slide) {
    height: 300px;
    width: 50px;
}
